DB_URL=jdbc:mysql://localhost:3306/your_database
DB_USERNAME=your_username
DB_PASSWORD=your_password
USER_JWT_SECRET=BASE64_ENCODED_RANDOM_SECRET
ADMIN_JWT_SECRET=BASE64_ENCODED_RANDOM_SECRET
USER_JWT_EXPIRATION=900000
ADMIN_JWT_EXPIRATION=900000
PORT=8080
EMAILJS_SERVICE_ID=your_service_id
EMAILJS_TEMPLATE_ID=your_template_id
EMAILJS_PUBLIC_KEY=your_public_key
EMAILJS_PRIVATE_KEY=your_private_key
GROQ_API_KEY=Key
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL=openai/gpt-oss-120b